@media(max-width:700px){ 
    header{
        flex-direction: column; /* empilhar em coluna*/

    }
    main{
        flex-direction:column;
    }
    aside{
        flex-direction: column;
    }
    .titulo{
        align-self: center;
        text-align: center;
    }
    h1{
        align-self: center;
    }
    li{
        display: block;
        text-align: center;
    }
    h2{
        font-size: 38px;
        text-align: center;
    }
    p{
        margin: 15px;
        text-align: center;
        align-self: center;
    }
    form{
        margin-top: 0 auto;
    }
    form [type="submit"]{
        width: 50%;
    }

    ul{
        text-align: center;
    }

    img{
        display: flex;
        flex-direction: column;
    }
}
